/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto+Mono");

:root {
    --background-color: #222227;
    --section-color: #33333c;
}

* {
    box-sizing: border-box;
    transition: all 300ms ease-in-out;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto Mono", sans-serif;
    background-color: var(--background-color);
}

section {
    display: flex;
    height: 500px;
    margin: 2em;
    background-color: var(--section-color);
}

.nsfw-container {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.nsfw-image {
    filter: blur(10px);
}

.no-blur {
    filter: blur(0px);
}

.nsfw-click-text {
    position: absolute;
    text-align: center;
    text-wrap: normal;
    padding: 0;
    align-self: center;

    font-size: 1.5rem;
    font-weight: bolder;
}

.hidden:not(.things-i-use-container) {
    display: none;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
}

/* The switch - the box around the slider */
.toggle-button {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.toggle-button input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.toggle-button-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-button-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .toggle-button-slider {
    background-color: #2196F3;
}

input:focus + .toggle-button-slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .toggle-button-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.toggle-button-slider .rounded {
    border-radius: 34px;
}

.toggle-button-slider .rounded:before {
    border-radius: 50%;
}